
.special-heading{
    position:fixed;
    background:#eee;
    top:0;
    left:0;
    right:0;
    z-index:1;
    border-bottom:1px solid #ccc
}

li {
    list-style: none;
    padding-right: 200px;
    margin:0;
}


.ToDoPanel ul,.InProgress ul,.Review ul{
    border: 1px solid #ccc;
    border-radius: 5px 5px 5px 5px;
}

.body-div{
    float: left;
    padding-top:155px;
    overflow: auto;
    clear: both;
}

#wait-div{
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    position:absolute;
    top:150px;
    left:35%;
}

.list-group-item:hover{
    background-color: #E9E9E9;
}

.assignee-style{
    color:#333333;
}

.reporter-style{
#    color:#716B7A;
    color:#333333;
    float: right;
}

.priority-style{
    color:#716B00;
}

.component-style{
    color:#716B00;
    float: right;
}

.updated-style{
    color:#A98E6A;
}

.version-style{
    color:#A98E6A;
}

.label-none{
    background-color:white;
}

.otherSiteSearch{
    float: left;
    display:block;
    height:25px;
}

.assigneeSearch{

    float: left;
    clear: right;
    display:block;
    height:25px;
}

.prioritySearch{
    float: left;
    clear: right;
    display:block;
    height:25px;

}

.reporterSearch{
    float: left;
    clear: right;
    display:block;
    height:25px;

}

.projectKeySearch{
    clear: right;
    display:block;
    float: left;
    height:25px;
}

.searchBar3{
    clear:both;
    height:auto;
    line-height:30px;
}
.searchBar3 input{
    margin:0 10px
}
.filterBar {
     height:100%;clear:both;margin:25px 0
}
.counter{
    margin:0 auto 0 auto;
    padding:3px;
    border:1px solid #cccccc;
    background:#ffffff; 
}
.counterGreen{
    margin:0 auto 0 auto;
    padding:3px;
    border:1px solid #cccccc;
    background:#ffffff; 
    background-color:#A9F59F;
}
.counterRed{
    margin:0 auto 0 auto;
    padding:3px;
    border:1px solid #cccccc;
    background:#ffffff; 
    background-color:#F5A59F;
}

.counter-tablet{
    margin:0 auto 0 auto;
    padding:3px;
    background:#ffffff; 
}

.tablet-misc{
    padding-left:20px;
}
.form-group input{
    margin:10px 3px;
}
.createInput, .filterInput {
    padding:0 3px;
    margin-top:10px
}
#helpPanel {
    position:fixed;
    top:40px;
    left:0;
    z-index:1;
}
